.lead__title {
  margin: 0 auto 32px auto;
  max-width: 720px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .lead__title {
    margin: 0 0 16px 0;
    font-size: calc(100vw / 768 * 96);
    line-height: 1.1;
  }
}
