.cover {
  max-width: 1184px;
  margin: 0 auto;
  width: calc(100% - 96px);
  display: block;
  background: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}

