.cover__title {
  margin: 0 auto 32px;
  width: 560px;
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 426px) {
  .cover__title {
    width: 288px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.09;
    text-align: center;
    color: #FFFFFF;
  }
}
